
//////////////////////////////////////////
///****   padding_&_margins.scss   ****///
//////////////////////////////////////////

//padding
.p1px{padding: 1px;} ///use this to stop divs collapsing

.p0{padding: 0;}
.p05{padding: ($padding1 / 2);}
.p1{padding: $padding1;}
.p2{padding: $padding2;}
.p3{padding: $padding3;}

.pt05{padding-top: ($padding1 / 2);}
.pt1{padding-top: $padding1;}
.pt2{padding-top: $padding2;}
.pt3{padding-top: $padding3;}

.pb05{padding-bottom: ($padding1 / 2);}
.pb1{padding-bottom: $padding1;}
.pb2{padding-bottom: $padding2;}
.pb3{padding-bottom: $padding3;}

.pl05{padding-left: ($padding1 / 2);}
.pl1{padding-left: $padding1;}
.pl2{padding-left: $padding2;}
.pl3{padding-left: $padding3;}

.pr05{padding-right: ($padding1 / 2);}
.pr1{padding-right: $padding1;}
.pr2{padding-right: $padding2;}
.pr3{padding-right: $padding3;}

.pv05{padding: ($padding1 / 2) 0;}
.pv1{padding: $padding1 0;}
.pv2{padding: $padding2 0;}
.pv3{padding: $padding3 0;}

.ph05{padding: 0 ($padding1 / 2);}
.ph1{padding: 0 $padding1;}
.ph2{padding: 0 $padding2;}
.ph3{padding: 0 $padding3;}

//margins
.m0{margin: 0;}
.m05{margin: ($margin1 / 2);}
.m1{padding: $margin1;}
.m2{padding: $margin2;}
.m3{padding: $margin3;}

.mt05{margin-top: ($margin1 / 2);}
.mt1{margin-top: $margin1;}
.mt2{margin-top: $margin2;}
.mt3{margin-top: $margin3;}

.mb05{margin-bottom: ($margin1 / 2);}
.mb1{margin-bottom: $margin1;}
.mb2{margin-bottom: $margin2;}
.mb3{margin-bottom: $margin3;}

.ml05{margin-left: ($margin1 / 2);}
.ml1{margin-left: $margin1;}
.ml2{margin-left: $margin2;}
.ml3{margin-left: $margin3;}

.mr05{margin-right: ($margin1 / 2);}
.mr1{margin-right: $margin1;}
.mr2{margin-right: $margin2;}
.mr3{margin-right: $margin3;}

.mv05{margin: ($margin1 / 2) 0;}
.mv1{margin: $margin1 0;}
.mv2{margin: $margin2 0;}
.mv3{margin: $margin3 0;}

.mh05{margin: 0 ($margin1 / 2);}
.mh1{margin: 0 $margin1;}
.mh2{margin: 0 $margin2;}
.mh3{margin: 0 $margin3;}
