/////////////////////////////////
///****   _custom.scss   ****////
/////////////////////////////////

// custom css goes here
///***  Container ***///
.container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    width: 95%;
}

// TEST the SASS

// body{
//   background-color: lightyellow;
// }
